.hero_section{
position: relative;
width: 100%;
margin:16px;
height: 80vh;
border-radius: 24px;
overflow: hidden;
}

.hero_section .banner_image{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.hero_child{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main_text{
    font-size: 56px;
    font-weight: bolder;
    color: white;
    padding: 0;
    margin: 0;
}
.sub_text{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
    opacity: 90%;
}
.button_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 4px 24px;
   background-color: white;
   border-radius: 56px;
   border: 1px solid rgb(46, 142, 226);
}
.button_div .sub_item{
    display: flex;
    align-items: center;
    gap: 16px;
}
.sub_item i{
    color: rgb(155, 154, 154);
}
.text .text1{
    font-size: 18px;
    opacity: 85%;
    font-weight: 600;
}

.text .text2{
    font-size: 20px;
    opacity: 70%;
    font-weight: 400;
}

.right_item{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    padding: 8px;
    background-color: rgb(46, 142, 226);
}
.right_item i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color: white;
}