body {
  padding: 0;
  margin: 0;
}
.header_section {
  padding: 0.5rem;
  font-size: 16px;
  opacity: 80%;
  color: rgb(52, 143, 222);
  text-align: center;
  background-color: white;
}
.nav_items {
  position: sticky;
  top: 0px;
  z-index: 50;
  padding: 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 10px 17px 2px rgba(99, 167, 195, 0.56);
  -webkit-box-shadow: 2px 10px 17px 2px rgba(99, 167, 195, 0.56);
  -moz-box-shadow: 2px 10px 17px 2px rgba(99, 167, 195, 0.56);
  background-color: white;
}
.nav_items img {
  width: 10vw;
  height: 50px;
  object-fit: cover;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 24px;
  list-style: none;
  /* padding: 8px; */
}
.nav_list a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  border-bottom: 1px solid white;
  transition: all 0.5s linear;
}
.nav_list a:hover {
  color: rgb(46, 142, 226);
  border-bottom: 1px solid rgb(52, 143, 222);
}

.right_nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
.right_nav input {
  padding: 10px 8px;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  width: 16vw;
  border: 1px solid rgb(52, 143, 222);
}
.right_nav button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: rgb(52, 143, 222);
  color: white;
  border: 1px solid white;
  transition: all 0.5s linear;
}

.right_nav button:hover {
  color: rgb(52, 143, 222);
  background-color: white;
  border: 1px solid rgb(52, 143, 222);
}
