.container {
  background-image: url("https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin-top: 12px;
  width: 100%;
  height: 70vh;
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;

  /* padding: 20px; */
}
.container .aboutHotel{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.container p{
    width: 60vw;
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    font-style: initial;
}

.container span{
    color: rgb(55, 136, 202);
    font-size: 24px;
    text-align: center;
}

.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
.btndiv .btn1{
    cursor: pointer;
    background-color: rgb(55, 136, 202);
    color: white; 
    padding: 12px  16px ;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
    transition: all 500ms linear;
}

.btndiv .btn2{
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    color: rgb(55, 136, 202); 
    padding: 12px  16px ;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(55, 136, 202);
    border-radius: 8px;
    transition: all 500ms linear;
}

.btndiv .btn1:hover{
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    color: rgb(55, 136, 202); 
    padding: 12px  16px ;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(55, 136, 202);
    border-radius: 8px;
}

.btndiv .btn2:hover{
    cursor: pointer;
    background-color: rgb(55, 136, 202);
    color: white; 
    padding: 12px  16px ;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
}
