.container {
  background-image: url("https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* margin-top: -18px; */
  width: 100%;
  height: 70vh;
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;
 display: flex;
    align-items: center;
    justify-content: center;
  /* padding: 20px; */
}

.container h1{
    margin-top: 20px;
    color: white;
    font-size: 36px;
}

.container p{
    width: 60vw;
    
    color: white;
    font-size: 24px;
    text-align: center;
    /* width: 50vw; */
}