body {
  margin: 0;
}
.dishes {
  font-size: 32px;
  font-weight: bold;
  padding: 4rem 8rem ;
  text-align: center;

}
/* full menu style */
.menu_main_container {
  display: flex;
  justify-content: center;
  /* column-gap: 4rem; */
  
}

.menu_main_container .first_menu {
  border: 1px solid rgb(48, 83, 197);
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu_main_container .first_menu b{
  font-size: 28px;
  font-weight: bold;
}

.itemslist{
  display: flex;
  flex-wrap: wrap;
align-items: center;
justify-content: space-around;
row-gap: 2rem;
  
  
}

 .itemdiv{
    width: 24vw; 
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid black;

   
 }
 .imageDiv{
     width: 24vw; 
    height: 30vh;
    overflow: hidden;
    border-radius: 16px;
    /* border:1px solid black; */

 }

.itemdiv img{
  display: inline-block;
    width: 24vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.5s linear;

}
.itemdiv img:hover{
    cursor: pointer;
    scale: 1.1;
}

.itemdiv .iteminfo{
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.iteminfo p{
     margin: 0;
}
.itemdiv .iteminfo .itemName{
    font-size: 24px;
}

.itemdiv .iteminfo .itemDesc{
    font-size: 16px;
    opacity: 60%;
}
.itemdiv .iteminfo .price{
    font-size: 20px;
}
.itemdiv .iteminfo span{
    color: rgb(220, 144, 4);
    font-size: 19px;

}
.myFrame {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden; 
}

