
.dishes {
  font-size: 32px;
  font-weight: bold;
  padding: 4rem 8rem ;
  text-align: center;

}
/* full menu style */
.menu_main_container {
  display: flex;
  justify-content: center;
  column-gap: 4rem;
  
}

.menu_main_container .first_menu {
  border: 1px solid rgb(48, 83, 197);
  padding: 1rem 2rem;
  border-radius: 8px;
}
.menu_main_container .first_menu b{
  font-size: 24px;
}
.menu_main_container .first_menu ul {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  font-size: large;
  gap: 20px;
}
.menu_main_container .first_menu ul li a {
  text-decoration: none;
  color: black; 
}

/* Second best menu */

.menu_main_container .second_menu {
  border: 1px solid rgb(48, 83, 197);
  padding: 1rem 2rem;
  border-radius: 8px;
}
.menu_main_container .second_menu b{
  font-size: 24px;
}
.menu_main_container .second_menu ol {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  font-size: large;
  gap: 20px;
}
.menu_main_container .second_menu ol li a {
  text-decoration: none;
  color: black;
}

/* .myFrame {
  width: 100%;
  height: 400px;
  border: none;
  overflow: hidden; 
} */

.itemdiv{
   
}
.itemdiv img{
    width: 20vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 16px;
}

.itemdiv .iteminfo .itemName{
    font-size: 24px;
}

.itemdiv .iteminfo .itemDesc{
    font-size: 18px;
    opacity: 70%;
}

