body {
  padding: 0px;
  margin: 0px;
}

/* whole navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 8rem;
  /* border-bottom: 1px solid black; */
  gap: 20px;
  font-size: 26px;
  box-shadow: 1px 9px 5px 0px rgba(134, 124, 124, 0.75);
  -webkit-box-shadow: 1px 9px 5px 0px rgba(134, 124, 124, 0.75);
  -moz-box-shadow: 1px 9px 5px 0px rgba(134, 124, 124, 0.75);
  position: sticky;
  top: 0px;
  height: screen;
  background-color: aliceblue;
  z-index: 50;
}
/* navbar items section css */
.navbar .itemdiv {
  font-size: 24px;
  display: flex;
  gap: 32px;
}
.navbar .logop {
  font-weight: bold;
}
.navbar .logop .css {
  color: rgb(55, 136, 202);
}
.navbar .itemdiv a {
  text-decoration: none;
  color: rgb(55, 136, 202);
  background-color: rgb(237, 232, 232);
  padding: 4px 8px;
  border-radius: 8px;
  transition: all 500ms linear;
}
.navbar .itemdiv button {
  text-decoration: none;
  color: white;
  background-color: rgb(55, 136, 202);
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  border: 1px solid rgb(55, 136, 202);
  border-radius: 8px;
  transition: all 500ms linear;

  
}

.navbar .itemdiv button:hover {
  background-color: white;
text-decoration: none;
  color: rgb(55, 136, 202);
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  border: 1px solid rgb(55, 136, 202);
  border-radius: 8px;
  transition: all 0.5s linear;
}

.navbar .itemdiv a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 150, 240);
  /* border-bottom: 2px solid green;  */
  transition: all 0.3s linear;
}

/* hero section ifrem */

.myFrame {
  width: 100%;
  height: 400px;
  border: none;
  overflow: hidden; 
}