.body{
    margin: 0px;
    padding: 0px;
}

/* 
CSS-> Cascading Style Sheet
syntax => selector -> property -> value
Types of css => internal, enternal, inline
*/

.navbar{
    background-color: antiquewhite;
    display: flex;
    text-align: center;
    /* gap: 4rem; */
    justify-content: space-between;
    padding: 1rem;
    /* font-size: 24px; */
    border:none;
    border-radius: 2rem;
}
.itemdiv{
    display: flex;
    align-items: center;
    gap: 4rem;
    /* border: 2px solid black; */
    font-size:24px ;
    text-decoration: none;


}
.logop{
    font-size: 30px;
    /* border: 2px solid black; */
    font-weight: bold;

}

.herodiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding-left:20px ;
    padding-right:20px ;


}
.textdiv{
     width: 60%;
   

}

.p1{
   
    /* font-weight: 1000; */
    font-size: 24px;
    /* font-size: medium; */
    color: blue;
}
.img1{
    width: 40%;
    height: auto;
    object-fit: cover;
    border: none;
    border-radius: 20px;
}