body{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: auto;
    font-size: medium;
}
.leftnav{
    display: flex;
    gap: 16px;
}
.rightnav{
    display: flex;
    align-items: center;
    gap: 16px;
}
.btn{
    padding: 16px;
    background-color: #3872c9;
    border: none;
    color: white;
    font-weight: 600;
}
.hero{
    background-color: #e9ecef;
}
.heroside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: auto;
}
.heromid h1{
    opacity: 70%;
}
.heromid p{
    opacity: 50%;
}

.heroele{
    display: flex;
    gap: 1rem;  
}
.btn1{
    padding: 12px;
    font-size:12px;
    font-weight: 600;
    background-color: #3872c9;
    color:white;
    border: none;
}
 .btn2{
    padding: 12px;
    font-size:12px;
    font-weight: 600;
    background-color: white;
    color: #05373c;
  border: none;
}
.imageside{
   object-fit: cover;

}